/* Left-Side Navbar */
.left-menu {
  margin: 0;
  padding: 0;
  width: 15%; /* Set width to 15% for larger screens */
  background-color: #272727;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 999;
  transition: width 0.3s ease; /* Animation for smooth resizing */
}

/* Navbar Logo */
.left-menu .logo {
  display: block;
  margin: 20px auto;
  width: 109px;
}

/* Navbar Links */
.left-menu a {
  display: block;
  color: #f59e42;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 15px;
  transition: background-color 0.3s ease, font-size 0.3s ease;
  border-top: 2px solid #181818;
}

.left-menu a.active {
  background-color: #04AA6D;
  color: white;
}

.left-menu a:hover:not(.active) {
  background-color: #ffcc8071;
  color: white;
}

/* Responsive width for screens smaller than 992px */
@media (max-width: 992px) {
  .left-menu {
      width: 200px; /* Set a fixed width for medium screens */
  }
  body {
      margin-left: 200px; /* Adjust content margin accordingly */
  }
}

/* Responsive width for screens smaller than 768px */
@media (max-width: 768px) {
  .left-menu {
      width: 60px; /* Shrinks to 60px for mobile */
  }
  body {
      margin-left: 60px; /* Adjust content margin for mobile */
  }

  .left-menu a {
      font-size: 0; /* Hide text on mobile to save space */
      padding: 10px; /* Reduce padding */
  }

  .left-menu a:hover {
      font-size: 16px; /* Show text on hover */
  }

  .left-menu .logo {
      width: 50px; /* Shrink logo on mobile */
  }
}

