/* General Page Settings */
body {
  background-color: #181818;
  color: #1a1919;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  margin-left: 15%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* color: #ec8314; */
  color: #f38221;

  margin-bottom: 10px;
}

p {
  color: #e5e5e5;
}

/* Links */
a {
  color: #f59e42;
  text-decoration: none;
}

a:hover {
  color: #ffcc80;
  text-decoration: underline;
}

/* Section Headers */
section {
  margin: 20px 0;
}

section h2 {
  border-bottom: 2px solid #f59e42;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* Header Styling */
header {
  background-color: #272727;
  color: #e5e5e5;
  text-align: center;
  padding: 40px 20px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-left: 2px solid #181818;
}

header h1 {
  font-size: 48px;
  margin: 0;
  color: #f38221;
}

header p {
  font-size: 18px;
  margin-top: 10px;
}

/* Footer Styling */
footer {
  background-color: #272727;
  color: #e5e5e5;
  text-align: center;
  padding: 40px 20px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-left: 2px solid #181818;
}

footer p {
  margin: 0;
  font-size: 16px;
}

/* Responsive Adjustments for Tablets */
@media (max-width: 768px) {
  header, footer {
      margin-left: 10%;
  }

  header h1, footer p {
      font-size: 20px;
  }
}

/* Responsive Adjustments for Mobile */
@media (max-width: 576px) {
  header, footer {
      margin-left: 5%;
  }

  header h1, footer p {
      font-size: 14px;
  }
}

/* Centered Search Bar */
.search-bar-container {
  text-align: center;
  margin: -20px 0 -10px;
  z-index: 1;
  position: relative;
}

.search-bar-container input[type="text"] {
  width: 25%;
  padding: 10px;
  border: 2px solid #f59e42;
  border-radius: 5px;
  background-color: #333333;
  color: #f59e42;
  font-size: 16px;
}
